USE [master]
GO
/****** Object:  Database [SpravochnikV5]    Script Date: 21.04.2025 14:14:55 ******/
CREATE DATABASE [SpravochnikV5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpravochnikV5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SpravochnikV5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'SpravochnikV5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SpravochnikV5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpravochnikV5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpravochnikV5]
GO
/****** Object:  Table [dbo].[DirectoryCompletionWork]    Script Date: 21.04.2025 14:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryCompletionWork](
	[idObject] [int] NOT NULL,
	[DateCompletionDate] [datetime] NULL,
 CONSTRAINT [PK_DirectoryCompletionWork] PRIMARY KEY CLUSTERED 
(
	[idObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectoryObject]    Script Date: 21.04.2025 14:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryObject](
	[idObject] [int] NOT NULL,
	[NameObject] [nvarchar](max) NOT NULL,
	[Town] [nvarchar](max) NOT NULL,
	[AddressObject] [nvarchar](max) NOT NULL,
	[DateBeginingWork] [datetime] NOT NULL,
 CONSTRAINT [PK_DirectoryObject] PRIMARY KEY CLUSTERED 
(
	[idObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectoryPrice]    Script Date: 21.04.2025 14:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryPrice](
	[idWork] [int] NOT NULL,
	[NameWork] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[idTypeWork] [int] NOT NULL,
 CONSTRAINT [PK_DirectoryPrice] PRIMARY KEY CLUSTERED 
(
	[idWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectoryTypeWork]    Script Date: 21.04.2025 14:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryTypeWork](
	[idTypeWork] [int] NOT NULL,
	[NameTypeWork] [nvarchar](max) NOT NULL,
	[UnitWork] [int] NOT NULL,
 CONSTRAINT [PK_DirectoryTypeWork] PRIMARY KEY CLUSTERED 
(
	[idTypeWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VolumeWorkObject]    Script Date: 21.04.2025 14:14:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VolumeWorkObject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idWork] [int] NOT NULL,
	[VolumeWork] [decimal](18, 0) NOT NULL,
	[idObject] [int] NOT NULL,
 CONSTRAINT [PK_VolumeWorkObject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DirectoryObject]  WITH CHECK ADD  CONSTRAINT [FK_DirectoryObject_DirectoryCompletionWork] FOREIGN KEY([idObject])
REFERENCES [dbo].[DirectoryCompletionWork] ([idObject])
GO
ALTER TABLE [dbo].[DirectoryObject] CHECK CONSTRAINT [FK_DirectoryObject_DirectoryCompletionWork]
GO
ALTER TABLE [dbo].[DirectoryPrice]  WITH CHECK ADD  CONSTRAINT [FK_DirectoryPrice_DirectoryTypeWork] FOREIGN KEY([idTypeWork])
REFERENCES [dbo].[DirectoryTypeWork] ([idTypeWork])
GO
ALTER TABLE [dbo].[DirectoryPrice] CHECK CONSTRAINT [FK_DirectoryPrice_DirectoryTypeWork]
GO
ALTER TABLE [dbo].[VolumeWorkObject]  WITH CHECK ADD  CONSTRAINT [FK_VolumeWorkObject_DirectoryObject] FOREIGN KEY([idObject])
REFERENCES [dbo].[DirectoryObject] ([idObject])
GO
ALTER TABLE [dbo].[VolumeWorkObject] CHECK CONSTRAINT [FK_VolumeWorkObject_DirectoryObject]
GO
ALTER TABLE [dbo].[VolumeWorkObject]  WITH CHECK ADD  CONSTRAINT [FK_VolumeWorkObject_DirectoryPrice] FOREIGN KEY([idWork])
REFERENCES [dbo].[DirectoryPrice] ([idWork])
GO
ALTER TABLE [dbo].[VolumeWorkObject] CHECK CONSTRAINT [FK_VolumeWorkObject_DirectoryPrice]
GO
USE [master]
GO
